<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-3">
        <ul class="contact-list">
          <li>Head of Digital Preservation</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>Library Services Center<br/>
        31-11 Thomson Avenue<br/>
        Long Island City, NY 11101</p>
      </div>
    </div>

  </div>

</footer>
