<div class="sidebar">
  <div class="container sidebar-sticky wrapper">
    <div class="sidebar-about">
      {% if page.categories %}
        <h2>Related Posts</h2>
        {% for page_category in page.categories %}
          {% assign category = site.categories[page_category] %}
            <h3>{{ page_category | capitalize }}</h3>
            <ul>
              {% for post in category  limit:3 %}
                {% if post.title %}
                <li><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a><br />({{ post.date | date: "%Y %b %-d" }})</li>
                {% endif %}
              {% endfor %}
            </ul>
        {% endfor %}
      {% endif %}
    </div>
  </div>
</div>